@import "variables.css";

/* Normalize elements (simple way) */
html,body,h1,h2,h3,h4,h5,h6,div,aside,p,a,i,span,button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
::-moz-focus-inner {
  border: 0;
}
html, body {
  overflow: hidden;
}

/*scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.25);
}

/*::selection {
  background: var(--color-lighten);
}*/

/* Header Style */
header {
  background: var(--color-dark);
  position: sticky;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;

  transition: margin-top 1s ease-in-out;
}
header div {
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}
header #projetcName {
  font-family: var(--projectFont);
  font-weight: bold;
  font-size: 2.25em;
}
header p {
  font-family: var(--subProjectFont);
  text-transform: lowercase;
  font-size: 0.95em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

/* universal Tags style */
.tag {
  font-family: var(--tagsFont);
  font-size: 1.25em;
  background: var(--color-darken-0_7);
  color: white;
  padding: 8px;
  margin: 4px 5px 4px 0;
  border-radius: 10px;
  text-align: center;
  transition: background 0.5s ease;
  user-select: none;
  cursor: default;
}
.tag:hover {
  background: var(--color-darken);
}
.tag.tag-small {
  font-size: 0.9em;
  padding: 4px 5px;
  border-radius: 6px;
  transition: transform 0.2s linear;
}
.tag.tag-small:hover {
  transform: translateY(-2px);
}

/* Filter aside style */
#filtersTrigger {
  display: none;
}
#filterPanel {
  position: fixed;
  width: 80%;
  height: calc(100vh - 80px);
  left: calc(-80% - 6px);
  background: var(--color-base-0_8);
  box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  z-index: 1;

  transition: left 0.5s ease-in-out;
  transition-delay: 0.10s;
}
#filtersTrigger:checked + #filterPanel {
  left: 0;
}
#filterPanel .tag {
  cursor: pointer;
}

#filter {
  padding: 10px;
  min-height: 67px;
  max-height: 40%;
  overflow: auto;
  background: white;
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.3), inset -2px -2px 4px rgba(0,0,0,0.15);
}
#filter .tag{
  box-shadow: 2px 3px 2px rgba(0,0,0,0.2), inset -1px -2px 3px rgba(0,0,0,0.3), inset 2px 2px 2px rgba(255,255,255,0.2);
}

/* Filter button style */
.tagsIcon {
  background: var(--color-base);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
label[for="filtersTrigger"] {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 2;
  transition: left 0.5s linear 0.05s, background 0.3s ease;

  cursor: pointer;
}
label[for="filtersTrigger"] .fa {
  font-size: 2.5em;
}
#filtersTrigger:checked + #filterPanel + label[for="filtersTrigger"] {
  background: var(--color-dark);
  left: calc(100vw - 100px);
  transition: left 0.5s linear 0.2s, background 0.3s ease;
}
#filtersTrigger:checked + #filterPanel + label[for="filtersTrigger"] .fa {
  color: #ccc;
}

label[for="filtersTrigger"]:hover {
  background: var(--color-darken) !important;
  color: #fff !important;
}
/* Page Style */
#references {
  padding: 40px 20px 0;
  height: calc(100vh - 80px);
  overflow: auto;
}
  /* -- reference's information style --  */
#references > .reference, #references > img, #references > video {
  margin-bottom: 50px;
}
#references > :last-child {
  padding-bottom: 0;
  margin-bottom: 120px;
}
#references img, #references video{
  display: block;
  width: 100%;
  border: 1px solid var(--color-light);
  padding: 0;
}
.referenceInfo {
  padding: 5px 10px 20px;
  position: relative;
  font-family: var(--textFont);
  text-align: center;
}
.referenceInfo::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 80%;
  bottom: -10px;
  left: 10%;
  background: var(--color-darken);
}
/*div.reference:hover{
  background: #eee;
}*/
div.reference:not(:hover) > .referenceInfo{
  display: none;
}
.referenceInfo p {
  margin-top: 10px;
  font-size: 0.9em;
  text-align: left;
}
.referenceTags {
  margin-top: 10px;
  display: flex;
}

.referenceTags > .tagsIcon {
  /*background: none;*/
  padding: 0 5px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  padding: 10px;
}
.referenceTags .tagsList {
  display: flex;
  /*flex-wrap: wrap;*/
  overflow: auto;

  flex-grow: 1;
  background: #ccc;
  padding: 5px 10px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  position: relative;
}

/* fade tags out of box */
.referenceTags::after{
  content:'';
  position: absolute;
  height: 43px; width: 15px;
  right: 10px;
  background: linear-gradient( to right, transparent, #ccc 80%);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  transition: opacity 0.5s ease-in-out;
}
.referenceTags:hover::after{
  opacity: 0;
}
/* </fade tags out of box*/
.referenceTags .tag.tag-small {
  flex-shrink: 0;
}
.referenceTags .tag:last-child::after { /* fix "right padding" on scrollable tags list */
  content: ".";
  position: absolute;
  width: 20px;
  opacity: 0;
}

/* bounce animation for tags menu */
/* TODO: substitute bounce animation to a great transition timing function */
@keyframes bounce-in {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-out {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

#filtersTrigger:checked + #filterPanel {
  animation-name: bounce-in;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
  animation-play-state: running;
}
#filterPanel {
  animation-name: bounce-out;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
}

#filterPanel + label[for="filtersTrigger"] {
  animation-name: bounce-out;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
}
#filtersTrigger:checked + #filterPanel + label[for="filtersTrigger"] {
  animation-name: bounce-in;
  animation-duration: 0.4s;
  animation-delay: 0.7s;
  animation-play-state: running;
}

#filtersTrigger[data-pristine] + #filterPanel, #filtersTrigger[data-pristine] + #filterPanel + .tagsIcon{
  animation-play-state: paused !important;
}
/* </ bounce animation for tags menu */


@media (max-height:500px) {
  header {
    margin-top: -80px;
  }
  #filterPanel, #references {
    height: 100vh;
  }
}

#references div.reference:last-child .referenceInfo::after{
  display: none;
}


/* suport greater devices */
@media (min-width: 650px) {
  #page {
    display: flex;
    flex-direction: row;
  }
  #filterPanel {
    position: initial;
    background: var(--color-base);
    animation-play-state: paused;
    box-shadow: none;
    flex: 0 1 40%;

    max-width: 300px;
    transition: max-width 1s ease;
  }
  label[for="filtersTrigger"] {
    display: none;
  }
  #references {
    flex: 1 1 60%;
  }
  #references > :last-child {
    margin-bottom: 40px
  }
}
@media (min-width: 1000px) {
  @supports not (display:grid) {
    #filterPanel {
      max-width: 400px;
    }
  }
  #references {
    display: grid;
    grid-template-columns: repeat(2, calc(calc(100% / 2) - calc(20px / 2)) );
    grid-column-gap: 20px;
  }
  #references .reference > * {
    width: 100%;
  }
  #references div.reference:nth-last-child(-n+2) .referenceInfo::after{
    display: none;
  }
}
@media (min-width: 1400px) {
  #filterPanel {
    max-width: 400px;
  }
  #references {
    grid-template-columns: repeat(3, calc(calc(100% / 3) - calc(20px / 3)) );
  }
}
@media (min-width: 2000px) {
  #references {
    grid-template-columns: repeat(4, calc(calc(100% / 4) - calc(40px / 4)) );
    grid-column-gap: 40px;
  }
}
@media (min-width: 2300px) {
  body {
    background: linear-gradient(to right, var(--color-base) 45%, white 55%)
  }
  #filterPanel {
    max-width: 500px;
  }
  #page {
    justify-content: center;
  }
  #references {
    background: white;
  }
}

#modal {
  background: rgba(0,0,0,0.75);
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  animation: apear 0.5s ease-out
}
/*@media (max-width: 650px) {
  #modal {
    padding: 20px;
  }
}*/
#modal img{
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
#modal i {
  font-weight: lighter;
  position: fixed;
  font-size: 1.6em;
  color: #ccc;
  cursor: pointer;
  right: 20px;
}
#modal i:hover {
  font-weight: bold;
  color: #eee
}
@keyframes apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
